---
title: 'Home'
---
<!DOCTYPE html>
<html>
<head>
  <title>{% if page.url != '/index.html' %}{{page.title}} | {% endif %}Tristina Wright</title>
  <meta charset='UTF-8'/>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <link rel='alternate' type='application/rss+xml' title='RSS' href='http://tristinawright.com/blog.rss' />
  <link rel='shortcut icon' href='{{site.baseurl}}/img/favicon.ico' type='image/x-icon' />
  <link href='{{site.baseurl}}/site.css' rel='stylesheet' />
</head>
<body>
  <div class='container'>
    <div class='col12 clearfix'>
      <div class='header col6 margin3 pad4h'>
        <div class='clearfix col12'>
          <div class='menu fr'>
            <a class='{% if page.section == "blog" %}active{% endif %}' href='{{site.baseurl}}/'>Home</a>
            <a class='{% if page.url == "/about/" %}active{% endif %}' href='{{site.baseurl}}/about'>About</a>
            <a class='{% if page.url == "/faq/" %}active{% endif %}' href='{{site.baseurl}}/faq'>FAQ</a>
            <a class='{% if page.url == "/writing/" %}active{% endif %}' href='{{site.baseurl}}/writing'>Words</a>
            <a href='http://authorwrightnow.tumblr.com'>Blog</a>
          </div>
          <h1 class='blog-title'><a href='{{site.baseurl}}/'>Tristina Wright</a></h1>
          <h2 class='title'>{{page.title}}</h2>
        </div>
      </div>
    </div>
    {{content}}
  </div>
  <script src='{{site.baseurl}}/site.js'></script>
</body>
